<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<div>
<div class="pull-left">
One
	<div class="pull-right">
	two
	</div>
</div>
<div class="pull-right">
three
</div>
</div>