@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

$grayLight: #eaeaea;
$grayDarker: #eaeaea;
$grayLighter: #eaeaea;
$blue: #0000ff;




@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
  visibility:visible;
}
.comment:hover .timestamp {
  visibility:visible;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 41px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

#main .container {
  width:100%;
  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

body {
    padding-top: 50px;
    overflow: hidden;
}
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
}
#sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
}
@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
      border-right:0;
  }
}

.panel .img-circle {
  width:50px;
  height:50px;
  margin-right:10px;
}

.nav .img-circle {
 width:40px;
 height:40px; 
}

#nbAcctDD {
  padding:5px
}


.glyph {
  width:20px;
  height:20px;
  font-size:24px;
}

#uploadButton .glyph {
  padding-top:4px;
}

.comment_user {
  font-weight: bold;
  color: #292f33;
  margin-right:7px;
}

.comment_well {
  padding: 19px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: whitesmoke;
//  border: 1px solid #e3e3e3;
//  border-radius: 4px;
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); 
}

.comment_well button {
  margin-left:5px;
}

.socialPreview {
  margin-top:20px;
}

.stats {
  line-height:20px;
}

.commenttable {
  width:100%;
  height:16px;
}
#comment_content {
  margin-bottom:0px;
  height:34px;
  line-height:24px;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

.comments_wrap {
  margin-top:10px;
  max-height:300px;
  overflow: hidden;
}

.comments_wrap_overflow:hover {
background-color: white;
border: 1px solid #dddddd;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); 
}

.comments {
  max-height: 300px;
  overflow-y: scroll;
  padding-left:10px;
  padding-right:10px;
}

.search {
  width: 224px;
  display: inline-block;
vertical-align: middle;
zoom: 1;
position: relative;
margin-top:10px;
margin-right:20px;

}

.search input {
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-box-sizing: border-box;
box-sizing: border-box;
border-radius: 3px;
box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07);
background: #faf9f7;
border: 1px solid #ccc;
color: #717171;
font-size: 13px;
font-weight: bold;
margin: 0;
outline: none;
padding: 6px 30px 6px 9px;
position: relative;
width: 100%;
z-index: 670;
}

.search button {
  background-position: -67px -42px;
background-size: 137px 92px;
width: 36px;
height: 37px;
display: inline-block;
vertical-align: middle;
zoom: 1;
//font: 0/0 serif;
text-shadow: none;
//color: transparent;
color: #717171;
border: none;
background-color: transparent;
position: absolute;
right: 0px;
top: 0px;
z-index: 671;
}

#autocomplete {
  position:absolute;
  width:100%;
  padding-left:0px;
  border-radius: 0 0 3px 3px;
  margin-left: 1px;
width:222px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
-webkit-transform: translateZ(0);
background: #fff;
}
#autocomplete li {
  width:100%;
  list-style:none;
  color:#777;
  padding-left:5px;
  font-family: 'Helvetica Neue';
  font-weight:bold;
  line-height:24px;
}
#autocomplete li:hover {
  background-color:#E6E6E6;
  cursor: pointer; cursor: hand;
  color:#000;

}

#autocomplete a {
  text-decoration:none;
  color:#777;
}

.acselected {
  background-color:#E6E6E6;
  color:#000;

}
