<div id="sidebar-wrapper" class="col-xs-12 col-md-1">
    <div id="sidebar">
        <ul class="nav list-group">
            <% current_user.groups.each do |group| %>
                <li><%= link_to group.name, group, class:"list-group-item" %></li>
            <% end %>
            <li id="new_group_sidebar"><a href="#" class="list-group-item"><i class="glyphicon glyphicon-plus glyph"></i></a></li>
        </ul>
    </div>
</div>

<script>
$(document).ready(function() {
    $("#new_group_sidebar a").click(function() {$("#newGroupModal").modal();return false;});
});
</script>

<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <%= form_for(Group.new) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a group</h4>
      </div>

      <div class="modal-body">
            <h4>Enter a name for your group:</h4>
              <div class="input text-center">
                <%= f.text_field :name, :class => "form-control input-lg" %>
              </div>
              <h4>Enter a description for your group:</h4>
              <div class="input text-center">
                <%= f.text_field :description , :class => "form-control input-lg"%>
              </div>
              <h4>Select people to invite:</h4>

              <div class="well well-lg">
              </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    <% end %>
    </div>
  </div>
</div>